<form action="/artist-search" method="GET">
  <label for="artist-search">Artist's Name</label>
  <input id="artist-search" type="text" name="name" />

  <button type="submit">Search for an Artist</button>
</form>